<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event search</title>
</head>
<body>
<div align="center">
    <form method="get" th:action="@{/event/search}">
        <input type="text" name="searchTitle" placeholder="Wpisz szukaną frazę">
        <select name="searchTime">
            <option value="all">Wszystkie</option>
            <option value="future">Przyszłe</option>
            <option value="present">Trwające</option>
            <option value="past">Przeszłe</option>
        </select>
        <button>Wyszukaj</button>
    </form>
</div>
<div align="center">
    <table border="1px">
        <tr>
            <th>TYTUŁ</th>
            <th>DATA ROZPOCZĘCIA</th>
            <th>DATA ZAKOŃCZENIA</th>
            <th>OPIS</th>
            <th>UTWORZONE PRZEZ</th>
            <th>DODATKOWE</th>
        </tr>
        <tr th:each="event : ${eventsList}">
            <th th:text="${event.getTitle()}"></th>
            <th th:text="${event.getFromDate()}"></th>
            <th th:text="${event.getToDate()}"></th>
            <th th:text="${event.getDescription()}"></th>
            <th th:text="${event.getUser().getDisplayName()}"></th>
            <th><a th:href="@{/event/show/{id}(id=${event.getId()})}">Szczegóły</a></th>
        </tr>
    </table>
</div>
</body>
</html>