<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event details</title>
</head>
<body>
<div align="center" th:with="condition=${user}">
    <button th:if="${condition != null}">Zapisz się na to wydarzenie.</button>
    <button th:if="${condition != null}">Wypisz się z tego wydarzenia.</button>
    <table border="1px">
        <tr>
            <th>TYTUŁ</th>
            <th>DATA ROZPOCZĘCIA</th>
            <th>DATA ZAKOŃCZENIA</th>
            <th>OPIS</th>
            <th>UTWORZONE PRZEZ</th>
        </tr>
        <tr th:object="${event}">
            <th th:text="${event.getTitle()}"></th>
            <th th:text="${event.getFromDate()}"></th>
            <th th:text="${event.getToDate()}"></th>
            <th th:text="${event.getDescription()}"></th>
            <th th:text="${event.getUser().getDisplayName()}"></th>
        </tr>
    </table>
</div>
<div align="center">
    <tr th:each="comment : ${comment}">
        <th th:text="${comment.comment}"></th>
        <br>
    </tr>
</div>
</body>
</html>