<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<div align="center">
    <h1>WYDARZEŃ</h1>
</div>
<div th:with="condition=${user}" align="center">
    <h1 th:if="${condition != null}" th:text="*{'Witaj użytkowniku ' + user.getDisplayName()}"></h1>
    <br>
    <a th:if="${condition == null}" type="button" th:href="@{/user/add}">Zarejestruj</a>
    <a th:if="${condition != null}" type="button" th:href="@{/event/add}">Dodaj nowe wydarzenie</a>
    <br>
    <a th:if="${condition == null}" type="button" th:href="@{/user/login}">Zaloguj</a>
    <a th:if="${condition != null}" type="button" th:href="@{/user/logout}">Wyloguj</a>
</div>
<br><br><br>
<div align="center">
    <form method="get" th:action="@{/event/search}">
        <input type="text" name="searchTitle" placeholder="Wpisz szukaną frazę">
        <select name="searchTime">
            <option value="all">Wszystkie</option>
            <option value="future">Przyszłe</option>
            <option value="present">Trwające</option>
            <option value="past">Przeszłe</option>
        </select>
        <button>Wyszukaj</button>
    </form>
</div>
<div align="center" th:with="condition=${user}">
    <table border="1px">
        <tr>
            <th>TYTUŁ</th>
            <th>DATA ROZPOCZĘCIA</th>
            <th>DATA ZAKOŃCZENIA</th>
            <th>OPIS</th>
            <th>UTWORZONE PRZEZ</th>
            <th>KOMENTARZ</th>
            <th>DODATKOWE</th>
        </tr>
        <tr th:each="event : ${eventsList}">
            <th th:text="${event.getTitle()}"></th>
            <th th:text="${event.getFromDate()}"></th>
            <th th:text="${event.getToDate()}"></th>
            <th th:text="${event.getDescription()}"></th>
            <th th:text="${event.getUser().getDisplayName()}"></th>
            <th th:if="${condition != null}"><a th:href="@{/event/{id}/comment(id=${event.getId()})}">Dodaj</a></th>
            <th th:if="${condition != null}"><a th:href="@{/event/show/{id}(id=${event.getId()})}">Szczegóły</a></th>
        </tr>
    </table>
</div>
</body>
</html>